@model Catalogue;

@{
    ViewBag.Title = $"Catalogue - Page {Model.CurrentPage}";
    ViewBag.SearchTerm = Model.SearchTerm;
}

<section id="search-result">
    <form class="search-header" method="get">
        <section class="page-bar">
            @{
                var pageBack = Model.CurrentPage - 1;
                var pageFoward = Model.CurrentPage + 1;
                <ul>
                    @{
                        if (Model.CurrentPage > 1)
                        {
                            <li><a href="@Url.Action("All", "Home", new { Model.GenreId, Model.ItemsOnPage, Model.SortClause, Model.SearchTerm, CurrentPage = 1 })" class="fas fa-angle-double-left"></a></li>
                            <li><a href="@Url.Action("All", "Home", new { Model.GenreId, Model.ItemsOnPage, Model.SortClause, Model.SearchTerm, CurrentPage = pageBack })" class="fas fa-angle-left"></a></li>
                        }
                        else
                        {
                            <li><a disabled="true" aria-disabled="True" href="#" class="fas fa-angle-double-left"></a></li>
                            <li><a disabled="true" aria-disabled="True" href="#" class="fas fa-angle-left"></a></li>
                        }
                    }
                    @{
                        for (int i = Model.CurrentPage - 2; i < Model.CurrentPage; i++)
                        {
                            if (i < 1)
                            {
                                continue;
                            }
                            <li><a href="@Url.Action("All", "Home", new { Model.GenreId, Model.ItemsOnPage, Model.SortClause, Model.SearchTerm, CurrentPage = i })" class="">@i</a></li>
                        }
                    }
                    <li><a aria-disabled="True" class="selected" href="#">@Model.CurrentPage</a></li>
                    @{
                        for (int i = Model.CurrentPage + 1; i < Model.CurrentPage + 3; i++)
                        {
                            if (i > Model.MaxPages)
                            {
                                break;
                            }
                            <li><a href="@Url.Action("All", "Home", new { Model.GenreId, Model.ItemsOnPage, Model.SortClause, Model.SearchTerm, CurrentPage = i })" class="">@i</a></li>
                        }
                    }

                    @{
                        if (Model.CurrentPage < Model.MaxPages)
                        {
                            <li><a disabled="true" href="@Url.Action("All", "Home", new { Model.GenreId, Model.ItemsOnPage, Model.SortClause, Model.SearchTerm, CurrentPage = pageFoward })" class="fas fa-angle-right"></a></li>
                            <li><a disabled="true" href="@Url.Action("All", "Home", new { Model.GenreId, Model.ItemsOnPage, Model.SortClause, Model.SearchTerm, CurrentPage = Model.MaxPages })" class="fas fa-angle-double-right"></a></li>
                        }
                        else
                        {
                            <li><a aria-disabled="True" href="#" class="fas fa-angle-right"></a></li>
                            <li><a aria-disabled="True" href="#" class="fas fa-angle-double-right"></a></li>
                        }
                    }
                </ul>
                <input type="hidden" asp-for="GenreId"/>
                <input type="hidden" asp-for="SearchTerm"/>
            }
        </section>
        <section class="filter-bar">
            <div class="select-input">
                <label asp-for="SortClause">Sort by:</label>
                <select asp-for="SortClause">
                    <option value="NameAsc">Alphabetical (A-Z)</option>
                    <option value="NameDesc">Alphabetical (Z-A)</option>
                    <option value="PriceAsc">Price (Low-High)</option>
                    <option value="PriceDesc">Price (High-Low)</option>
                </select>
            </div>
            <div class="select-input">
                <label asp-for="ItemsOnPage">Books on page:</label>
                <select asp-for="ItemsOnPage">
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                </select>
            </div>
            <div>
                <button class="fas fa-check" type="submit"></button>
            </div>
        </section>
    </form>
    <nav class="top">
        <a href="#top" class="fas fa-arrow-up"></a>
    </nav>
    <div class="content">
        @if (Model.Items.Count > 0)
        {
            @await Html.PartialAsync("Components/_ItemCardPartial", Model.Items);
        }
        else
        {
            <p class="search-error">Nothing found</p>
        }
    </div>
</section>