@model List<CartListItem>;

@{
    var returnUrl = Context.Request.Path + Context.Request.QueryString;
    foreach (var item in Model)
    {
        <div class="list-row">
            <div class="action-holder">
                <form asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="returnUrl" value="@returnUrl" />
                    <button type="submit" class="remove-btn far fa-times-circle"></button>
                </form>
            </div>
            <div class="img-wrapper">
                <img src="@item.CoverPhoto" alt="cover-image">
            </div>
            <div class="item-info">
                @{
                    var price = $"{item.TotalPrice:f2}";

                    <h3 title="@item.Title">@item.Title</h3>
                    <p>Quantity: @item.Quantity</p>
                    <span>@price$</span>
                }
            </div>
        </div>
    }
}