@using Microsoft.AspNetCore.Http.Extensions
@model List<ItemCard>;

@{
    foreach (var card in Model)
    {
        string currentUrl = Context.Request.GetEncodedUrl().Replace("https://localhost:7295", "");

        <a id="@card.Id" class="item-card" href="@Url.Action("Details", "Home", new { ItemId = card.Id, ReturnRoute = currentUrl})">
            <div class="img-wrapper">
                <img src="@card.BookCover" alt="cover-image">
            </div>
            <div class="content-wrapper">
                <p class="title">@card.Title</p>
                <div class="pricing">
                    @{
                        var current = $"{card.CurrentPrice:f2}";
                        var basePrice = $"{card.CurrentPrice:f2}";
                        <span>@current</span>

                        if (card.BasePrice != card.CurrentPrice)
                        {
                            <span class="promotion">@basePrice</span>
                        }
                    }
                </div>
            </div>
        </a>
    }
}


