@model ICollection<SideMenuModel>;

@{
    var route = ViewContext.RouteData;
    var area = route.Values["area"] as string;
    var controller = route.Values["controller"] as string;
    var action = route.Values["action"] as string;

    foreach (var menuItem in Model)
    {
        if (menuItem.RequireAuthentication && !User.Identity!.IsAuthenticated)
        {
            continue;
        }

        var isSelected =
            (action == menuItem.Action
             && (area == menuItem.Area || string.IsNullOrWhiteSpace(area) == string.IsNullOrWhiteSpace(menuItem.Area))
             && controller == menuItem.Controller)
        ? "selected"
        : string.Empty;

        <li class="@isSelected" title="@menuItem.ItemDescription">
            @{
                if (string.IsNullOrWhiteSpace(menuItem.Action))
                {
                    <div>
                        <i class="@menuItem.ClassIcon"></i>
                        <span class="foldable">@menuItem.ItemDescription</span>
                    </div>
                }
                else
                {
                    <a asp-area="@menuItem.Area" asp-controller="@menuItem.Controller" asp-action="@menuItem.Action">
                        <i class="@menuItem.ClassIcon"></i>
                        <span class="foldable">@menuItem.ItemDescription</span>
                    </a>
                }
            }
        </li>
    }
}