@{
    ViewData["Title"] = "Invoice";
}
@model Invoice;

<section id="order-status" class="small-window-field">
    <h1 class="title">Order Details</h1>
    <div class="info">
        @{
            var totalPrice = $"{Model.TotalPrice:f2}";

            <p title="Customer name"><i class="fas fa-user"></i><span>@Model.CustomerName</span></p>
            <p title="Phone number"><i class="fas fa-phone"></i><span>@Model.PhoneNumber</span></p>
            <p title="Country"><i class="fas fa-globe"></i><span>@Model.Country</span></p>
            <p title="City"><i class="fas fa-city"></i><span>@Model.City</span></p>
            <p title="Address"><i class="fas fa-map-marker-alt"></i><span>@Model.Address</span></p>
            <p title="Total price"><i class="fas fa-money-bill-alt"></i><span>@totalPrice$</span></p>
        }
    </div>
    <div class="status-icon far fa-check-circle">
        <p>Successful</p>
    </div>
    <div class="action-list">
        <a asp-controller="Home" asp-action="Index" class="fas fa-home primary-btn">Home Page</a>
        <a asp-controller="MyOrders" asp-action="Index" class="fas fa-clipboard-list primary-btn">My orders</a>
    </div>
</section>