@model List<Order>

@{
    foreach (var invoice in Model)
    {
        var status = invoice.OrderStatus switch
        {
            OrderStatus.Pending => string.Empty,
            OrderStatus.Shipped => "processing",
            _ => "completed"
        };

        <article class="order">
            <h2>@invoice.City @invoice.Address</h2>
            <span class="label status @status">@invoice.OrderStatus.ToString()</span>
            <p>
                <span class="label">Ordered on:</span>
                <span>@invoice.OrderedOn.ToString("f")</span>
            </p>
            <p>
                <span class="label">Client:</span>
                <span>@invoice.ClientName</span>
            </p>
            <p>
                <span class="label">Phone number:</span>
                <span>@invoice.PhoneNumber</span>
            </p>
            @if(invoice.DeliveredOn.HasValue)
            {
                <p>
                    <span class="label">Delivered on:</span>
                    <span>@invoice.DeliveredOn.Value.ToString("f")</span>
                </p>
            }
            <div class="info">
                <input type="checkbox" class="toggle" name="" id="@invoice.Id">
                <label for="@invoice.Id" class="toggle-btn fas fa-angle-right"></label>
                <div class="mini">
                    <p>
                        @string.Join(", ", invoice.Items.Select(i => $"{i.Title}: {i.Quantity}x {i.Price}$"))
                    </p>
                </div>
                <div class="full">
                    @await Html.PartialAsync("Components/_OrderItemPartial", invoice.Items)
                </div>
            </div>
            @{
                if (invoice.OrderStatus == OrderStatus.Pending)
                {
                    <form asp-action="MarkAsShipped" method="post" class="action-bar">
                        <input type="hidden" name="Id" value="@invoice.Id"/>
                        <button class="generic-action">Mark as Shipped</button>
                    </form>
                }
                else if (invoice.OrderStatus == OrderStatus.Shipped)
                {
                    <form asp-action="MarkAsDelivered" method="post" class="action-bar">
                        <input type="hidden" name="Id" value="@invoice.Id" />
                        <button class="confirm">Mark as Delivered</button>
                    </form>
                }
            }
            <p class="price-tag">
                <span>Total price:</span>
                <span class="price-value">@invoice.TotalPrice.ToString("F")$</span>
            </p>
        </article>
    }
}